.items
  - items.each do |item|
    .item
      .features
        .price{title: t(:price)}
          = item.price

        .manufacturer_year
          = item.manufacture_year

        .region
          = item.city
          
        - if item.advert_created_at
          .date{title: "#{t :posted_at} #{item.advert_created_at.strftime '%d.%m.%Y %H:%M'}"}
            -# = render '/items/date', date: item.created_at
            = item.advert_created_at.strftime '%d.%m.%Y %H:%M'

      %h2{class: 'name'}
        -# = link_to "#{item.manufacturer.name} #{item.manufacturer_model.name}", item.url
        = link_to "#{item.manufacturer_model.name}", item.url

      = item.description


      = link_to image_tag(item.thumbnail_url, {alt: ''}), item.url
