%h1
  Car searching

= form_tag "/", method: "get" do |f|
  .field
    = label_tag :Manufacturer
    = render 'manufacturer_select', items: Manufacturer.all, selected_id: params['manufacturer_id'].to_i
  .field
    = label_tag :Model
    = render 'manufacturer_model_select', items: ManufacturerModel.all, selected_id: params['model_id'].to_i
  .field
    = label_tag :manufacture_year
    = render 'year_select', items: (1930..Date.today.year).to_a.reverse, selected_id: params['year'].to_i
  .field
    = label_tag :max_price
    = number_field_tag :max_price, params['max_price'], class: 'middle'
  .field
    = label_tag :cleared_only
    = check_box_tag :cleared_only, nil, params['cleared_only'] == 'on'
  .actions
    = submit_tag t(:find_cars)
