%h1
  Car searching

= form_tag "/", method: "get" do |f|
  .field
    = label_tag :Manufacturer
    = render 'manufacturer_select', items: Manufacturer.all
  .field
    = label_tag :Model
    = render 'manufacturer_model_select', items: ManufacturerModel.all
  .field
    = label_tag :manufacture_year
    = render 'year_select', items: (1930..Date.today.year).to_a.reverse
  .actions
    = submit_tag t(:find_cars)
