= render 'search_form'

.results

  %h2
    -if @adverts.empty?
      = t :not_found
    -else
      = t 'Best of'
      = @all_adverts_count
      = t 'adverts for query:'

  = render 'list', items: @adverts

